* {
  box-sizing: border-box;
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
  padding: 20px;
}

#login-page {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderLoadingCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  background: silver;
  font-size: 2em;
  text-align: center;
  color: rgb(50, 50, 50);
  position: absolute;
  z-index: 1;
  left: 0px;
}

#main-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  border: solid 1px silver;
  border-radius: 10px;
  line-height: 1px;
  margin-top: -5px;
  background: rgb(150, 150, 150);
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  margin-top: 0px;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.sb-title {
  float: left;
  padding-left: 15px;
  padding-top: 3px;
}

#sb-floating-toolbar {
  clear: both;
  pointer-events: none;
  text-align: left;
  position: relative;
  top: -.15em;
}

#sb-floating-toolbar .sb-floating-toolbar-item {
  pointer-events: none;
}

.sb-floating-toolbar-item {
  display: inline-block;
  clear: both;
  position: relative;
  pointer-events: none;
}

#sb-floating-toolbar-expanded {}

.sb-floating-toolbar-content div {
  pointer-events: auto;
}

.sb-floating-toolbar-content {
  pointer-events: auto;
  white-space: nowrap;
  display: none;
  overflow: auto;
  color: black;
  overflow-y: hidden;
}

.sb-floating-toolbar-content .fields-container {
  padding-right: 1.5em;
}

.sb-floating-toolbar-create-btn {
  display: none;
}

.sb-floating-toolbar-item .button-wrapper {
  display: inline-block;
  text-align: center;
  border-radius: .25em;
  color: white;
  white-space: nowrap;
  padding: .25em;
  padding-top: .25em;
  padding-bottom: 0em;
  font-size: 1.1em;
}

.btn-sb-icon {
  padding: 0em 0.2em;
  margin: 0;
  border: none;
  background: rgb(240, 240, 240);
  font-size: 1.3em;
  color: black;
  border: solid .05em silver;
  border-radius: .25em;
  position: relative;
}

*[disabled] {
  background: silver;
  opacity: .6;
}

.sb-floating-toolbar-item .button-wrapper .button-title {
  background: rgb(50, 50, 50);
  color: white;
  padding: .15em .5em;
  border-radius: .3em;
  cursor: pointer;
  border: solid .1em silver;
}

.sb-floating-toolbar-item .button-wrapper-invert .button-title {
  color: black;
  background: rgb(240, 240, 240);
}

.button-wrapper {
  pointer-events: none!important;
}

.button-wrapper * {
  pointer-events: auto;
}

#sb-floating-toolbar-expanded .button-wrapper .option-buttons {
  font-size: 1.1em;
  display: inline-block;
  position: relative;
  top: .25em;
}

.popup-canvas-body {
  flex: 1;
  width: 100%;
}

.selected-mesh-helper-collapse-button {
  border-radius: .25em;
  border: none;
  background: rgb(240, 240, 240);
  position: absolute;
  right: 0px;
  z-index: 1;
  border: solid .1em gray;
  padding: 0;
  font-size: .8em;
}

.popup-canvas {
  touch-action: none;
  width: 100%;
  height: 100%;
}

.popup-canvas-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  margin-bottom: 5px;
}

.main-canvas-wrapper {
  touch-action: none;
  position: absolute;
  z-index: 0;
  left: 0px;
  margin: 0;
}

.form-group {
  width: 7em;
  display: inline-block;
  font-size: inherit;
  margin-right: .1em;
}

.form-group.number {
  width: 5em;
}

.form-group label {}

.form-group label span {
  background: rgb(50, 50, 50);
  color: white;
  font-size: .75em;
  padding: .25em;
  border-radius: .25em;
  padding-bottom: .5em;
  display: inline-block;
}

.form-group input {
  text-align: center;
  width: 100%;
  border-radius: .25em;
  border: none;
  font-size: 1em;
  float: left;
  padding: .25em;
}

.checkboxgroup input {
  width: 1.5em;
  height: 1.5em;
}

.url-form-group a {
  margin-bottom: 0;
  float: left;
  text-decoration: underline;
  color: rgb(0, 0, 255);
  padding: .1em;
  font-size: 1em;
  top: -.1em;
  position: relative;
}

.url-form-group {
  line-height: 1em;
}

.url-form-group button {
  float: right;
  font-size: .8em;
  margin: 0px;
  margin-right: .1em;
  border: none;
  border-radius: .25em;
  background: rgb(240, 240, 240);
  position: relative;
  top: -.15em;
}

.url-form-group input {}

.checkboxgroup label {
  font-size: 1em;
}

.checkboxgroup label span {
  padding: .15em .25em;
  border-radius: .25em;
  font-size: 1.2em;
}

.modal-dialog {
  margin: 0vh auto;
  width: 100vw;
  background: rgba(127, 127, 127, .85);
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  overflow: hidden;
}

.popup-buttons {
  overflow: hidden;
  padding: .1em .25em;
  background: rgb(50, 50, 50);
  padding-top: .25em;
  height: inherit;
}

.popup-title {
  color: white;
  float: left;
  margin-left: .5em;
  font-size: 1.6em;
}

.create-dialog .modal-dialog {
  background: rgba(255, 255, 255, .6);
}

.create-dialog .modal-dialog label {
  background: rgba(255, 255, 255, .5);
  padding: 2px;
  border-radius: 4px;
}

.create-preview-canvas, .create-preview-image {
  width: 100%;
  height: 30vh;
  display: inline-block;
  touch-action: none;
}

.fields-container {
  overflow: auto;
}

.popup-action-bar {
  text-align: center;
  width: 100%;
  height: 2.5em;
}

.popup-main-body {
  height: calc(100% - 2.5em);
  overflow-y: hidden;
  position: relative;
}

.popup-buttons .save-details {
  padding-bottom: 0px;
}

.vertical-split-display {
  height: 100%;
  float: left;
}

.popup-progress-bar {
  width: 8em;
  display: inline-block;
  margin-left: 10%;
  position: absolute;
  background: blue;
  color: white;
  font-weight: bold;
}

.form-group-container-group {
  display: inline-block;
  border-radius: .5em;
  background: rgb(200, 200, 200);
  float: left;
  position: relative;
  margin: 0 .25em;
}

#main-page .form-group-container-group {
  background: rgba(255, 255, 255, .2);
  padding: .25em;
  overflow: hidden;
}

.form-group-container-group .form-group {}

.form-group-container-group .checkboxgroup {
  width: auto;
}

.form-group-container-group label {
  border-radius: .25em;
  padding: 0;
  margin: 0;
  position: relative;
}

.btn {
  font-size: inherit;
}

.user-profile-fields-container {
  float: left;
}

.user-image-display {
  max-height: 4em;
  max-width: 4em;
  margin-top: .1em;
  margin-right: .25em;
  border-radius: .25em;
  border: solid .1em silver;
  float: left;
}

i.material-icons {
  font-size: inherit;
}

button i.material-icons {
  position: relative;
  top: .1em;
  font-size: 1.1em;
}

.band-menu-button .dropdown-menu {
  font-size: inherit;
}

.band-background-preview {
  white-space: nowrap;
  display: inline-block;
  border: solid .1em silver;
  border-radius: .25em;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  pointer-events: auto;
  height: 5em;
  width: 8em;
  margin: 0 .05em;
  margin-bottom: -.3em;
  position: relative;
}

.band-background-preview .extend-panel {
  position: absolute;
  bottom: .15em;
  left: 2.3em;
}

.band-background-preview .band-title {
  padding: .15em;
  background: rgba(255, 255, 255, .5);
  color: black;
  border-radius: .25em;
  margin: .15em;
  float: left;
}

.band-background-preview .toggle-btn {
  clear: both;
  background: rgba(255, 255, 255, .2);
  font-weight: bold;
  position: absolute;
  bottom: .15em;
  left: .15em;
}

.dropdown-menu {
  min-width: 7em;
  font-size: inherit;
}

.user-profile-info-block {
  background: white;
  font-weight: bold;
  width: auto;
  padding: .25em;
  border-radius: .25em;
}

.url-type-input-group {
  width: 20em;
}

.selected-mesh-bounds-helper-box {
  color: black;
  padding-left: .2em;
  white-space: pre;
  text-align: center;
  border-radius: .25em;
  font-size: inherit;
}

.block-dialog-popup .selected-mesh-bounds-helper-box {
  background: rgb(50, 50, 50);
  color: silver;
}

.scene-options-panel .selected-mesh-bounds-helper-box {
  background: none;
}
.selected-mesh-bounds-helper-box .form-control {
  width: auto;
  display: inline-block;
}

.selected-mesh-bounds-helper-box .action-area {}

.selected-mesh-bounds-helper-box .action-area input {
  width: 5em;
  text-align: right;
  height: 2em;
  padding: .5em .2em;
  font-size: 1em;
}

.selected-mesh-bounds-helper-box .action-area select {
  padding: 0px;
  font-size: 1em;
}

.selected-mesh-bounds-helper-box .action-area button {
  padding: .1em;
  background: white;
  border-radius: .25em;
  border: solid .1em silver;
}

.selected-mesh-bounds-helper-box .action-area input[type="range"] {
  width: 7em;
  display: inline-block;
  height: 0em;
  position: relative;
  top: .3em;
  font-size: inherit;
  border: none;
}

.selected-mesh-bounds-helper-box .action-area input[type="range"].singleslider {
  transform: rotate(-90deg);
  width: 5.5em;
  top: 2em;
  left: -.5em;
}

.selected-mesh-bounds-helper-box .info-area {
  font-size: .8em;
  font-family: monospace;
}

.selected-mesh-bounds-helper-box .preview {
  font-size: 1em;
  clear: both;
}

.selected-mesh-bounds-helper-box .action-area .preview, .selected-mesh-bounds-helper-box .action-area button {
  color: rgb(127, 64, 0);
}

.selected-mesh-bounds-helper-box .action-area.offset .preview, .selected-mesh-bounds-helper-box .action-area.offset button {
  color: rgb(20, 100, 0);
}

.selected-mesh-bounds-helper-box .action-area.rotate .preview, .selected-mesh-bounds-helper-box .action-area.rotate button {
  color: rgb(0, 64, 127);
}

.form-group.shortVector {
  width: 8em;
}

.form-group.shortVector input[type="range"] {
  width: 100%;
}

.form-group.longvector input[type="range"] {
  width: 100%;
}

.edit-modal-times-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  background: rgba(255, 255, 255, .2);
  color: rgb(50, 50, 50);
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: rgb(50, 50, 50);
  height: 1.2em;
}

input[type=range]::-webkit-slider-thumb {
  height: 1.2em;
  width: .8em;
  background: rgb(255, 255, 255);
  -webkit-appearance: none;
}

.global-floating-toolbar {
  z-index: 5000;
  pointer-events: none;
  position: relative;
  padding: .25em;
}

.global-floating-toolbar * {
  pointer-events: auto;
}

.menu-clipper-wrapper {
  display: inline-block;
}

.cblock-editor-wrapper {
  overflow: hidden;
  display: flex ! important;
  flex-direction: column;
}

.main-band-first-row {
  display: flex;
}

.main-band-flex-children {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
}

.cblock-details-panel {
  white-space: nowrap;
  overflow: auto;
  margin-top: .25em;
}

.cblock-details-panel .form-group-container-group {
  float: none;
}

.cblock-child-details-panel {}

.frames-panel {
  overflow: auto;
}

.block-editor-child, .main-band-details-element, .main-band-add-child {
  background: rgb(50, 50, 50);
  color: white;
  border-radius: 0em;
  border: solid .15em silver;
  margin: .25em;
  padding: .25em;
  display: inline-block;
  cursor: pointer;
}

.main-band-details-element {
  background: rgb(240, 240, 240);
  color: black;
  border: solid .25em black;
}

.main-band-add-child {
  float: left;
}

.block-editor-child button {
  background: rgba(0, 0, 0, .2);
  color: silver;
  border-radius: .35em;
  margin-left: .5em;
}

.block-editor-child.selected, .main-band-details-element.selected {
  color: yellow;
  background: rgba(127, 127, 127, .5);
  border-color: yellow;
}

.main-band-add-child {
  background: rgb(50, 50, 50);
  color: white;
  border-radius: .25em;
}

.frame-fields-container {
  clear: both;
  position: relative;
  margin: .25em;
}

.render-log-panel {
  overflow: auto;
  background: rgba(255, 255, 255, .7);
  white-space: pre;
}

.frames-panel .frame-fields-container label span {
  display: none;
}

.frames-panel>div:nth-child(1) label span {
  display: inline-block;
}

.frames-panel input {
  padding: 0em;
  height: 1.4em;
}

.frames-panel .add-button {
  margin-bottom: .5em;
  border: black;
  margin-left: .5em;
}

.frames-panel .form-group-container-group .form-group {
  padding: 0px;
  margin: 0px;
}

.frames-panel button.delete-button {
  padding: 0em;
  margin-left: .5em;
  top: -.5em;
}

.frames-panel .form-group-container-group {
  float: none;
}

.frames-panel {
  white-space: nowrap;
  position: relative;
}

.frames-panel button.expand-all-helpers {}

.frames-header-bar {
  background: rgba(255, 255, 255, .6);
}

.frame-info-panel {
  border-radius: .2em;
  overflow: auto;
  margin: 0px;
  text-align: left;
  font-size: 1em;
}

.genFrame {
  color: rgb(200,200,255);
}

.frame-fields-container .frame-time {
  width: 10em;
}

.canvas-actions {
  position: absolute;
  bottom: .1em;
  left: .1em;
  width: 100%;
  pointer-events: none;
}

.canvas-actions .expanded-toolbar-content {
  display: block;
  pointer-events: none;
}

.user-profile-expanded-wrapper {
  pointer-events: none!important;
  float: right;
}

.user-profile-expanded-wrapper * {
  pointer-events: auto;
}

.canvas-actions {
  padding-bottom: .25em;
  padding-left: .25em;
}

.canvas-actions * {
  pointer-events: auto;
}

.canvas-actions .render-log-button {
  float: right;
  margin-right: .25em;
  display: none;
}

.canvas-actions .play-button {
  color: rgb(0, 127, 0);
}

.canvas-actions .pause-button {}

.canvas-actions .stop-button {}

.canvas-actions .video-button {
  color: red;
}

.canvas-actions input[type="range"] {
  width: 20vw;
  display: inline-block;
  position: relative;
  top: .2em;
  left: .2em;
  margin-right: .5em;
  border: solid .1em silver;
}

.camera-select-range-slider {}

.camera-select-height-slider {

}

.canvas-actions .camera-select {
  border-radius: .25em;
  font-size: 1.3em;
  left: .4em;
  padding: .1em;
  color: blue;
  background: rgb(240, 240, 240);
}

#workspaces-select {
  margin-left: .2em;
  pointer-events: auto;
  border: solid .1em silver;
  font-size: 1.1em;
  border-radius: .25em;
  font-size: 1.1em;
  padding: .1em;
  position: relative;
  top: -.1em;
}

#project-panel {
  padding: 0em;
  border-radius: .25em;
  margin-bottom: -.25em;
}

#user-profile-settings-button {
  color: rgb(127, 127, 0);
}

#workspace-settings-button {}

.context-scene-tools-panel {
  pointer-events: none;
}

.context-scene-tools-panel .fields-container {
  pointer-events: none;
}

.doubled-up-first {
  position: absolute!important;
  top: .30em!important;
}

.doubled-up-second {
  top: .0em!important;
}

#toggle-all-toolbands-down {
  margin-left: -.25em;
  position: relative;
}

#toggle-all-toolbands {
  position: relative;
}

.font-family-panel .form-group input {
  padding: 0;
  margin: 0;
  padding: .2em .1em;
}

.font-family-panel {
  pointer-events: none!important;
  padding-bottom: 1em;
}

.font-family-panel * {
  pointer-events: auto;
}

.font-family-panel .fields-container {
  pointer-events: none!important;
  display: inline-block ! important;
  position: relative;
  clear: both;
  float: right;
  top: .5em;
  overflow: visible;
}

.font-family-panel .fields-container * {
  pointer-events: auto;
}

#fontsize-toolbar-slider {
  width: 40vw;
  font-size: 1.1em;
  display: inline-block;
  border: solid .1em silver;
  float: right;
  margin-top: .25em;
  margin-left: .25em;
}

#new-workspace-name {
  border-radius: .25em;
  border: solid .1em silver;
  padding: .15em;
  position: relative;
  top: -.15em;
}

.select-block-animation-button {
  position: absolute;
  top: .1em;
  right: .1em;
  background: rgba(0, 0, 0, .25);
  color: white;
}

.context-scene-freefloat-panel {
  right: .35em;
  position: absolute;
  bottom: .25em;
  pointer-events: none;
}

.context-scene-freefloat-panel * {
  pointer-events: auto;
}

.context-scene-freefloat-panel .form-group-container-group {
  background: transparent;
}

.context-scene-freefloat-panel .form-group-container-group label span {
  background: rgb(240, 240, 240);
}

.context-scene-freefloat-panel .fields-container {
  padding-right: .5em;
}

.scene-options-panel .selected-mesh-helper-collapse-button {
  display: none;
}

.scene-options-panel {
  float: right;
  pointer-events: none;
  position: relative;
  top: 1.2em;
  z-index: 100;
}

.scene-options-panel .fields-container {
  overflow: hidden;
  pointer-events: none;
}

.canvas-actions .scene-options {
  float: right;
  margin-right: .4em;
  top: .25em;
}

.scene-options-panel .fields-container * {
  pointer-events: auto;
}

.font-family-panel .selected-mesh-helper-collapse-button {
  display: none;
}

.scene-options-panel .shortVector, .font-family-panel .shortVector {
  padding-bottom: .25em;
}

.font-family-panel .selected-mesh-bounds-helper-box {}

.scene-options-panel .selected-mesh-bounds-helper-box input[type="range"] {
  margin: .55em 0em;
}

.font-family-panel .selected-mesh-bounds-helper-box input[type="range"] {
  margin: .75em 0;
}

.create-dialog-inner-wrapper {
  margin-top: 4em;
  border-radius: .25em;
  border: solid .1em rgb(50, 50, 50);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  display: inline-block;
  padding: 5em;
  background: rgb(240, 240, 240);
}

.toggle-bands-down, .toggle-bands-up {
  float: left;
}

.export-frames-details-panel {
  padding: .5em;
  border: solid .1em silver;
  background: rgb(50, 50, 50);
}

.camera-options-panel {
  padding-top: .5em;
}

.color-picker-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em!important;
}

.color-data-item {
  width: 7em;
}

.color-data-item > span {
  padding-right: 2.5em!important;
}
