h3 {
  font-size: 1.5em;
  padding: 20px;
}

#login-page {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  position: absolute;
  z-index: 0;
  left:0px;
}

#main-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  text-align:center;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  border: solid 1px silver;
  border-radius: 10px;
  line-height: 1px;
  margin-top: -5px;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  margin-top: 0px;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.sb-title {
  float: left;
  padding-left: 15px;
  padding-top: 3px;
}

#sb-floating-toolbar {
  clear: both;
  pointer-events: none;
  text-align:left;
}

.btn-toolbar-icon {
  background: transparent;
  border-radius: .5em;
  color: inherit;
  border: solid 1px silver;
  z-index: 1;
  position:relative;
}

.sb-floating-toolbar-item {
  display: inline-block;
  clear: both;
  position: relative;
  pointer-events: none;
  margin-top: -.2em;
}

#sb-floating-toolbar-expanded {
  pointer-events: none;
}

.sb-floating-toolbar-content {
  pointer-events: auto;
  white-space: nowrap;
  display: none;
  overflow:auto;
  color: black;
}

.sb-floating-toolbar-create-btn {
  display: none;
}

.sb-floating-toolbar-item .button-wrapper {
  display: inline-block;
  text-align: center;
  float: left;
  margin: .3em .02em;
  padding: .05em .25em;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 10%;
  color: white;
  pointer-events: auto;
  white-space: nowrap;
}
.button-wrapper .btn-toolbar-icon {
  color:black;
  background: rgba(255,255,255,.15);
}
.sb-floating-toolbar-item .button-wrapper .button-title {
  background: rgba(0, 0, 0, .15);
  padding: .05em;
  border-radius: 10%;
}
.sb-floating-toolbar-item .button-wrapper .option-buttons {
  display:inline-block;
  white-space:nowrap;
}

#sb-floating-toolbar-expanded .button-wrapper .option-buttons {
  display:block;
}
#sb-floating-toolbar-expanded .sb-floating-toolbar-item .button-wrapper {
  height: 4em;
}
.scene-tools-band-container button {
  pointer-events: auto;
  padding: .1em .33em;
}

.popup-canvas-body {
  flex: 1;
  width: 100%;
}

.popup-canvas {
  touch-action: none;
  width: 100%;
  height: 100%;
}

.popup-canvas-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.popup-canvas-wrapper {
  position: relative;
}

.form-group {
  width: 7em;
  display: inline-block;
  font-size: inherit;
  margin-right: 2px;
}

.form-group.number {
  width: 5em;
}

.form-group label {
  font-size: .7em;
  margin-bottom: 1px;
  margin-top: 2px;
  text-align: center;
}

.form-group input {
  font-size: 1em;
  height: 1.9em;
  padding: 1em .1em;
  font-weight: normal;
  text-align: center;
}

.checkboxgroup input {
  width: 2em;
  height: 1em;
}

.url-form-group a {
  margin-left: .5em;
  margin-bottom: 0;
  float: left;
  text-decoration: underline;
  color: rgb(0, 0, 127);
  font-size: 1.1em;
  padding-top: .2em;
}

.url-form-group {
  line-height: 1em;
}

.url-form-group button {
  float: right;
  font-size: .7em;
  margin: 0px;
  margin-top: 1px;
  margin-right: 1px;
  border: solid 1px silver;
  border-radius: 3px;
  background: rgba(255, 255, 255, .5);
}

.url-form-group input {
  font-size: .5em;
}

.checkboxgroup label {
  font-size: .8em;
}

.checkboxgroup {
  width: auto;
}

.modal-dialog {
  background: rgba(255, 255, 255, .1);
}

.edit-modal .modal-dialog {
  margin: 0vh auto;
  width: 100%;
}

.edit-modal .modal-body {
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.fields-container {
  overflow: auto;
}

.popup-mid-buttons {
  display: inline-block;
  padding-top: 3px;
}

.popup-mid-buttons button {
  float: left;
  margin-left: 10px;
}

.popup-action-bar {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0px;
  padding-right: 4px;
  padding-bottom: 2px;
  text-align: center;
  width: 100%;
  height: 2.5em;
}

.popup-action-bar .nav-tabs {
  border-bottom: none;
  position: relative;
  top: -2px;
}

.popup-action-bar .nav-tabs a {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
}

.popup-action-bar .nav-tabs li.active a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
}

.popup-buttons {
  padding: 4px;
}

.tab-content {
  height: 100%;
  overflow-y: auto;
}

.popup-main-body {
  height: calc(100% - 2.5em);
  overflow-y: hidden;
}

.popup-buttons .save-details {
  padding-bottom: 0px;
}

.vertical-split-display {
  height: 100%;
  float: left;
}

.popup-progress-bar {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  position: absolute;
  bottom: 5px;
}

.modal-body .nav-pills>li>a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal-body .nav-pills {
  padding-top: 2px;
}

.form-group-container-group {
  display: inline-block;
  border-radius: 5px;
  margin: .05em;
  background: rgba(255, 255, 255, .8);
  float: left;
  position: relative;
}

.form-group-container-group .form-group {
  margin: 0px;
}

.form-group-container-group label {
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
.btn {
  font-size: inherit;
}

#user-profile-settings-dialog {
  z-index: 1200;
}

#user-profile-settings-dialog .popup-content {
  height: 100%;
  overflow: auto;
}

#user-profile-settings-dialog .user-image-display {
  max-height: 7em;
  max-width: 7em;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 20%;
  margin-left: 10px;
  border: solid 1px silver;
  float: left;
}

button i.material-icons {
  position: relative;
  top: 3px;
  font-size: 1.1em;
}

.band-menu-button .dropdown-menu {
  font-size: inherit;
}

.scene-tools-band-container {
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.create-dialog .scene-tools-band-container {
  display: none;
}

#main-page .scene-tools-band-container {
  bottom: 2px;
  left: 1px;
  top: initial;
  pointer-events: auto;
}

.band-background-preview {
   width: 6em;
   height: 4em;
   white-space: nowrap;
   display: inline-block;
   border: solid 1px silver;
   border-radius: .25em;
   text-align: center;
   margin: 0em .05em;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   pointer-events: auto;
   cursor: pointer;
   position: relative;
   top: .3em;
}
.band-background-preview .band-title {
  padding: .07em;
  background: rgba(255,255,255,.5);
  border-radius: .2em;
}
.dropdown-menu {
  min-width: 7em;
  font-size: inherit;
}

.scene-tools-band-container .button-container {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.user-profile-info-block {
  padding: 12px;
  background: rgba(0, 0, 0, .3);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: solid silver 2px;
  width: auto;
}

.popup-buttons .{
  font-size: 1.4em;
}

.url-type-input-group {
  width: 15em;
}

.popup-title {
  text-align: center;
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 8px;
  color: silver;
  background: rgba(0, 0, 0, .5);
  float: left;
}

.create-dialog .modal-dialog {
  background: rgba(255, 255, 255, .6);
}

.create-dialog .modal-dialog label {
  background: rgba(255, 255, 255, .5);
  padding: 2px;
  border-radius: 4px;
}

.create-preview-canvas, .create-preview-image {
  width: 100px;
  height: 100px;
  display: inline-block;
  touch-action: none;
}

.selected-mesh-bounds-helper-box {
  color: rgb(0, 0, 100);
  padding-left: 2px;
  margin-left: 2px;
  white-space: pre;
  text-align: center;
  padding: .2em;
  border-radius: .5em;
  font-size: inherit;
}

.selected-mesh-bounds-helper-box .form-control {
  width: auto;
  display: inline-block;
}

.selected-mesh-bounds-helper-box .action-area {}

.selected-mesh-bounds-helper-box .action-area input {
  width: 5em;
  text-align: right;
  height: 2em;
  padding: .5em .2em;
  font-size: .8em;
}

.selected-mesh-bounds-helper-box .action-area select {
  padding: 0px;
  font-size: .7em;
}

.selected-mesh-bounds-helper-box .action-area button {
  padding: 2px;
  background: rgba(127, 127, 127, .5);
}

.selected-mesh-bounds-helper-box .action-area input[type="range"] {
  width: 7em;
  display: inline-block;
  height: 0em;
  position: relative;
  top: .3em;
  font-size: inherit;
}

.selected-mesh-bounds-helper-box .info-area {
  font-size: .6em;
  font-family: monospace;
}

.selected-mesh-bounds-helper-box .preview {
  font-size: .7em;
  clear: both;
}

.selected-mesh-helper-collapse-button {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0px;
  padding: .1em .5em;
  border: solid 1px silver;
  font-size: .5em;
  border-radius: 25%;
}

.selected-mesh-bounds-helper-box .action-area .preview, .selected-mesh-bounds-helper-box .action-area button {
  color: rgb(127, 64, 0);
}

.selected-mesh-bounds-helper-box .action-area.offset .preview, .selected-mesh-bounds-helper-box .action-area.offset button {
  color: rgb(20, 100, 0);
}

.selected-mesh-bounds-helper-box .action-area.rotate .preview, .selected-mesh-bounds-helper-box .action-area.rotate button {
  color: rgb(0, 64, 127);
}

.form-group.shortvector {
  width: 5em;
}

.form-group.shortvector input[type="range"] {
  width: 100%;
}

.form-group.longvector input[type="range"] {
  width: 100%;
}

.edit-modal-times-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  background: rgba(255, 255, 255, .2);
  color: rgb(50, 50, 50);
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, .2);
  height: 1.2em;
}

input[type=range]::-webkit-slider-thumb {
  height: 1.2em;
  width: .8em;
  background: green;
  -webkit-appearance: none;
}
