* {
  font-size: 10pt;
  font-family: Helvetica, Arial;
}

.url-text-box {}

body {
  background: white;
}

button {
  font-size: 1.35em;
  margin: 0 .1em;
}

input[type="text"] {
  padding: .35em;
}

#firebase-app-login-page {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
  border-left: none;
  border-right: none;
}

.lightbar-fields-container .light-intensity-user-panel {
  padding-bottom: 7.4em;
}

.canvas-actions input.animate-range {}

.canvas-actions {
  display: none;
}

.canvas-actions-shown {
  bottom: initial;
  display: block;
  top: 0;
}

.lightbar-fields-container .form-control {
  display: none;
}

.lightbar-fields-container {
  position: absolute;
  right: -1.5em;
  top: 3em;
}

.lightbar-fields-container .form-group-container-group {
  background: none;
  pointer-events: none;
  border: none;
}

.lightbar-fields-container label span {
  background: none;
  position: absolute;
  top: 1em;
  color: white;
  font-size: 1.5em;
  z-index: 1;
  left: -.9em;
  pointer-events: none;
  font-weight: normal;
}

.lightbar-fields-container i {
  pointer-events: none;
  color: white;
}

#-position-preset {
  background: rgb(0, 150, 136);
  color: white;
}

#light_intensity_value {
  font-size: .65em;
  top: -1.25em;
  left: .3em;
  width: auto;
  text-align: center;
  background: rgba(50, 50, 50, .3);
  pointer-events: none;
  z-index: 1000;
  padding: 0;
  border-radius: 10%;
}

select {
  width: auto;
}

#main-view-wrapper {
  display: block;
  height: 100vh;
  width: 100vw;
}

.block_child_details_block {
  padding-top: .25em;
  clear: left;
}

.frames-panel {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  min-height: 100%;
  display: none;
}

.frames-panel .no-frames {
  white-space: normal;
  line-height: 5em;
  font-size: 2em;
  text-align: center;
}

.frame-fields-container {
  clear: both;
  position: relative;
  margin: 0em;
  padding-left: 3.25em;
}

.app-collapsed .frame-fields-container {
  padding-left: 2.5em;
}

.frames-panel .frame-fields-container label span {
  display: none;
}

.frames-panel .frame-fields-container:nth-child(1) label span {
  display: inline-block;
  padding: .25em;
  font-size: 1em;
}

.frames-panel>div:nth-child(1) .delete-button {
  top: 1em;
}

.app-collapsed .frames-panel>div:nth-child(1) .delete-button {
  top: 1.5em;
}

.frames-panel input {}

.frames-panel .add-button {
  margin: .5em;
}

.frames-panel .form-group-container-group .form-group {
  padding: 0;
  margin: 0;
}

.frames-panel button.delete-button {
  position: absolute;
  left: 0;
}

.app-collapsed button.delete-button {
  font-size: 1.1em;
}

.frames-panel .form-group-container-group {
  float: none;
  margin: 0 0em;
  padding-top: .35em;
  border: none;
  border-radius: 0;
  border-top: solid .1em silver;
  border-bottom: solid .05em black;
  border: none;
  padding: 0;
  margin: 0;
}

.frames-panel .frames-header-fields-panel {
  border: inset .15em silver;
  margin-bottom: .5em;
}

.frames-panel .frames-header-fields-panel .form-group-container-group {
  float: left;
  display: inline-block;
  margin: .25em;
  padding: .25em;
  padding-right: .5em;
  padding-top: 0;
}

.frames-panel .frames-header-fields-panel .form-group-container-group input {
  padding: .25em .5em;
}

.frames-panel button.expand-all-helpers {
  margin: 0 .5em;
}

.canvas-actions .sb-floating-toolbar-item {
  display: inline-block;
  clear: both;
  position: relative;
  pointer-events: none;
}

.camera-select-range-slider {}

.camera-select-height-slider {}

.export-frames-details-panel {
  padding: .5em;
}

.material-add-options .material-color-add {
  border-radius: .25em;
  width: 8em;
  text-align: center;
  margin-right: 0;
}

.skybox-preview-images img {
  max-height: 5em;
  max-width: 5em;
}

.font-size-main-view {
  height: 10.7em;
  margin-right: 0;
}

#profile-header-panel .selected-mesh-bounds-helper-box .action-area input[type="range"] {
  width: 100%;
  margin-bottom: .5em;
}

#profile-header-panel .font-size-main-view .selected-mesh-bounds-helper-box .action-area input[type="range"] {
  transform: none;
  width: 16.5em;
  left: -12em;
  top: .75em;
  margin-bottom: .75em;
}

.selected-mesh-bounds-helper-box {
  color: black;
  padding-left: .2em;
  white-space: pre;
  text-align: center;
  border-radius: .25em;
  font-size: inherit;
  padding-top: .35em;
}

#profile-header-panel .selected-mesh-bounds-helper-box {
  padding-bottom: 1em;
}

.selected-mesh-bounds-helper-box input[type="text"] {
  border-radius: .25em;
  border: default;
}

.selected-mesh-bounds-helper-box .form-control {
  width: auto;
  display: inline-block;
}

.none-layout-mode-flip {
  z-index: 10000;
  position: absolute;
  bottom: .5em;
  right: .5em;
}

.band-background-preview {
  display: inline-block;
  border-radius: 1em;
  margin: 0 .05em;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.band-background-preview .img-holder {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: inherit;
  height: 10em;
  display: block;
  background-image: url(/images/addimage.svg);
}

.app-collapsed .band-background-preview .img-holder {
  height: 2em;
  display: inline-block;
}

.band-background-preview .band-title {
  padding: .1em;
  border-radius: .25em;
  margin: .05em;
}

.app-collapsed .band-background-preview .band-title {}

.app-collapsed .band-background-preview br {
  display: none;
}

.app-collapsed .band-background-preview button {
  display: none;
}

.band-background-preview br {
  display: none;
}

.sort-date-last-edit {
  font-size: .7em;
}

.app-collapsed .sort-date-last-edit {
  display: none;
}

.asset-fields-container .band-background-preview button {}

.menu-clipper-wrapper {
  display: inline-block;
  margin: .25em;
  width: 18em;
  text-align: center;
}

.app-collapsed .menu-clipper-wrapper {
  margin: .05em;
  width: 12em;
  white-space: nowrap;
  overflow: hidden;
}

.frames-header-bar {}

.frame-info-panel {
  overflow: auto;
  margin: 0;
  text-align: left;
  padding: 0;
}

.frame-info-panel>div {
  font-size: .75em;
  font-weight: bold;
  text-align: center;
}

.frame-info-panel * {}

.frame-info-panel .genFrame {
  font-style: italic;
  font-weight: normal;
}

.frame-fields-container .frame-time {
  width: 10em;
}

.form_canvas_wrapper.show-help {
  display: flex;
  overflow: auto;
}

.form_canvas_wrapper.show-help .canvas-actions {
  display: none;
}

.form_canvas_wrapper.show-help .popup-canvas {
  display: none;
}

.form_canvas_wrapper.show-help .video-overlay {
  display: none;
}

.form_canvas_wrapper .help-overlay {
  display: none;
}

.form_canvas_wrapper.show-help .help-overlay {
  display: block;
  overflow: auto;
  width: 100%;
}

.form_canvas_wrapper .help-overlay h1 {
  cursor: pointer;
  display: inline-block;
  padding-right: 1em;
  padding-bottom: .5em;
}

.form_canvas_wrapper .help-overlay h1 button {
  border: none;
  background: none;
  position: relative;
  top: .15em;
}

.generate_help .help-overlay h1 {
  padding-bottom: 0;
}

.form_canvas_wrapper.generate_help {
  height: auto;
}

.form_panel_view_dom.workspace .help-overlay {
  display: flex;
  width: 100%;
}

.add-asset-template-panel {
  display: block;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.asset-fields-container input, .asset-fields-container button {}

.form_canvas_wrapper {
  position: relative;
}

.form_canvas_wrapper.show-help .add-asset-template-panel {
  padding: .5em;
}

.form_canvas_wrapper.show-help.workspace .add-asset-template-panel {
  display: flex;
}

.add-asset-template-panel .data_table_panel {
  flex: 1;
}

.help-viewer {
  padding: .25em;
}

.add-asset-template-panel input {
  margin: .25em;
}

.add-asset-template-panel input[type="file"] {}

.material-add-options .material-color-add {
  border-radius: .25em;
  width: 8em;
  text-align: center;
  margin-right: 0;
}

.material-add-options .material-color-add-colorinput {
  border-radius: .25em;
  width: 2.5em;
  margin-left: 0;
  padding: 0;
}

.add-asset-template-panel label>span {
  margin: .1em;
}

.add-asset-template-panel input[type="text"] {
  text-align: center;
  width: 4em;
}

.add-item-panel select {
  margin-top: .5em;
}

.shape-add-options .text-shape-add {
  width: 20em;
}

.shape-add-options .font-family-shape-add {
  width: 20em;
}

.workspace-csv-panel-item {
  margin: .25em;
}

.workspace-csv-panel-item>div {
  display: inline-block;
  text-align: left;
}

.workspace .asset-fields-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.workspace .data_table_panel {
  flex: 1;
}

.layout_product_data_panel {
  flex: 1;
}

#scene_layout_data_panel {
  display: flex;
}

#scene_options_edit_fields {
  flex: 1;
  overflow-y: auto;
  overflow-x: visible;
  padding: .5em;
}

.scene_options_list {
  height: 12em;
  width: 25em;
  overflow: auto;
}

.csv_scene_field_upload_wrapper, .csv_scene_field_text_wrapper {
  white-space: nowrap;
  display: inline-block;
  margin: .5em;
}

.tabulator {
  background: none;
}

.scene_options_edit_fields {
  text-align: center;
}

.layout_product_data_panel>form>div {
  display: inline-block;
  margin: .5em;
}

.layout_product_data_panel>form>div input, .csv_scene_field_text_wrapper input {
  padding: .25em;
  margin-left: .25em;
}

.layout_product_data_panel>form>div select {
  font-size: 1.1em;
}

.workspace_regenerate_layout_changes {
  display: none;
}

.workspace_show_layout_positions {
  display: none;
}

.workspace_display_layout_new_window {
  display: none;
}

.workspace.animation_regeneration_needed .workspace_regenerate_layout_changes {
  display: inline-block;
}

.workspacelayout .workspace_display_layout_new_window,
.workspacelayout .workspace_show_layout_positions,
.workspacelayout .workspace_regenerate_layout_changes {
  display: inline-block;
}

.tabulator .tabulator-tableHolder .tabulator-table {
  background: none;
  color: inherit;
}

.tabulator .tabulator-row {
  background: inherit;
}

.tabulator .tabulator-header {
  background: inherit;
}

.scene-fields-panel {
  display: none;
}

.root-block-display .scene-fields-panel {
  display: block;
}

.child-block-display .scene-fields-panel {
  display: none;
}

.child-block-display .asset-field-container {
  display: none;
}

.asset-fields-container, .node-details-panel, .export-frames-details-panel {
  overflow: auto;
  position: relative;
}

.data-view-container {
  border-width: 0;
  border-top-width: .15em;
}

.export-frames-details-panel {
  display: none;
  line-height: 3em;
  flex-direction: column;
  flex: 1;
}

.cblock-child-details-panel {
  display: none;
}

.root-block-display .cblock-child-details-panel,
.child-block-display .asset-fields-container {
  display: none;
}

.child-block-display .cblock-child-details-panel,
.root-block-display .asset-fields-container {
  display: block;
}

.cblock-child-details-help-panel, .cblock-details-help-panel {
  clear: both;
  flex: 1;
  overflow: auto;
}

.root-block-display .scene-fields-panel {
  overflow: auto;
}

.header_wrapper {
  padding: .25em;
}

.workspace-asset-link-display span {
  font-size: .5em;
}

.workspace-asset-link-display .img-holder {
  width: 4em;
  height: 3em;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/addimage.svg);
  margin: .25em;
  border-radius: .25em;
}

.navigate_tag_select {
  float: left;
  clear: both;
  font-weight: bold;
}

.main-band-children-select {
  max-width: calc(100% - 15em);
  float: left;
}

#workspaces-select {
  max-width: calc(100% - 12em);
  float: left;
}

.header_wrapper button {
  margin: 0 .1em;
  float: left;
}

.dataview_record_key {
  max-width: calc(100% - 17.5em);
  float: left;
  min-width: 5em;
  margin-left: .25em;
}

.dataview_record_tag {
  float: left;
}

.header_bar_top_row {
  margin-bottom: .25em;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {}

.tabulator .tabulator-header .tabulator-col.tab-header-cell-large .tabulator-col-content .tabulator-col-title {
  font-size: .4em;
}

.tabulator .tabulator-header .tabulator-col.right-column-data .tabulator-col-content .tabulator-col-title {
  text-align: center;
}

.csv_data_date_span {
  margin-left: 1em;
  font-style: italic;
}

.cgenerate_panel_wrapper {
  padding: 0 .5em;
  line-height: 2.75em;
}

.animation_regeneration_needed .workspace_regenerate_layout_changes {
  background: red;
}

.workspace .add-asset-button {
  display: none;
}

.csv_import_preview {
  display: none;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  font-size: .8em;
}

.app-expanded .csv_import_preview {
  display: block;
  overflow-x: auto;
}

.noassetsfound {
  font-size: 2em;
  text-align: center;
  line-height: 5em;
}

.add-asset-template-panel input.new-workspace-name {
  width: 15em;
  text-align: left;
}

.child_band_picker_expanded {
  display: none;
}

.app-expanded .child_band_picker_expanded {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: initial;
}

.block-editor-child {
  display: inline-block;
  padding: .5em;
  margin: .25em;
  cursor: pointer;
}

.block-editor-child i {
  position: relative;
  top: .12em;
}

.frames-textarea-export {
  width: 100%;
  flex: 1;
}

.workspace_band_wrapper {
  white-space: nowrap;
  overflow-x: scroll;
}

.workspace_band_wrapper a {
  border-width: .25em;
  text-align: center;
  text-decoration: none;
  border: none;
  line-height: 1em;
  padding: .3em .25em;
  margin: .1em;
}

.add-asset-template-panel label {
  white-space: nowrap;
}

a.workspace-asset-link-display {
  text-align: center;
  display: inline-block;
  line-height: .75em;
  border-radius: .5em;
  padding: .25em;
  margin: .1em;
  white-space: nowrap;
  border: none;
}

.open_in_browser_block_child {
  float: left;
  clear: left;
  margin-top: 1em;
}

.open_in_new_block_child {
  float: left;
  margin: 1em;
  margin-top: 1em;
}

.delete_block_and_children {
  margin: .5em;
}

.main-band-sub-view-picker {
  float: left;
  margin: 0 .25em;
  padding: .15em;
}

.main-band-sub-view-picker button {
  border: none;
  margin: 0;
}

.layout_data_action_select {
  float: right;
  margin: .5em;
}

.scene_edit_image {
  max-width: 90%;
  max-height: 100px;
}

.sceneoptionsupload {
  float: right;
}

#profile-header-panel .fields-container {
  overflow: visible;
}

#profile-header-panel {
  overflow: visible;
}

dialog::backdrop {
  background: rgba(255, 255, 255, .5);
}

.dialog-header-images {
  text-align:center;
}

.dialog-header-images label span, .dialog-header-images h1 {
  font-size: 1.5em;
}

.dialog-header-images input[type="radio"] {
  transform: scale(1.5)
}

div.imagebackgrounddisplay {
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat
}

.image_upload_building {
  display: none
}
