* {
  box-sizing: border-box;
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
  padding: .25em;
}

select {
  border-width: .25em;
  border-radius: .5em;
  padding: .25em;
  border: outset .15em silver;
}

#login-page {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderLoadingCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  background: silver;
  font-size: 2em;
  text-align: center;
  color: rgb(50, 50, 50);
  position: absolute;
  z-index: 1;
  left: 0px;
}

#main-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  border: solid 1px silver;
  border-radius: 10px;
  line-height: 1px;
  margin-top: -5px;
  background: rgb(150, 150, 150);
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  margin-top: 0px;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

#sb-floating-toolbar {
  clear: both;
  pointer-events: none;
  text-align: left;
  position: relative;
  top: -.25em;
  margin-bottom: -.5em;
  padding-left: 5.75em;
  float: left;
}

#sb-floating-toolbar .sb-floating-toolbar-item {
  pointer-events: none;
}

.sb-floating-toolbar-item {
  display: inline-block;
  clear: both;
  position: relative;
  pointer-events: none;
}

.sb-floating-toolbar-content div {
  pointer-events: auto;
}

#sb-floating-toolbar .button-wrapper {
  margin: .5em .25em;
}

.sb-floating-toolbar-content {
  pointer-events: auto;
  white-space: nowrap;
  display: none;
  overflow: auto;
  color: black;
  overflow-y: hidden;
  margin-bottom: .25em;
}

.sb-floating-toolbar-content .fields-container {
  padding-right: 1.5em;
}

.sb-floating-toolbar-item .button-wrapper {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.btn-sb-icon {
  background: rgb(240, 240, 240);
  font-size: 1.5em;
  color: black;
  border-radius: .5em;
}

.sb-floating-toolbar-create-btn {
  display: none;
  background: rgb(0, 127, 0);
  color: white;
  margin-right: .25em;
}

.main-band-add-child {
  background: blue;
  color: rgb(0, 255, 0);
  margin: .25em;
}

*[disabled] {
  background: silver;
  opacity: .6;
}

.sb-floating-toolbar-item .button-wrapper .button-title {

  padding: .35em .5em;
  border-radius: .5em;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  background: rgb(240, 240, 240);
}

.sb-floating-toolbar-item .button-wrapper-invert .button-title {
  background: rgb(50, 50, 50);
  color: white;
  border-style: inset;
  position: relative;
  top: 3em;
}

.button-wrapper {
  pointer-events: none!important;
}

.button-wrapper * {
  pointer-events: auto;
}

#sb-floating-toolbar-expanded {
  margin-top: .35em;
  margin-left: .25em;
}

#sb-floating-toolbar-expanded .button-wrapper .option-buttons {
  display: inline-block;
  position: relative;
  top: 3.5em;
}

#sb-floating-toolbar-expanded .button-wrapper {
  height: 4.5em;
}

.popup-canvas-body {
  flex: 1;
  width: 100%;
}

.selected-mesh-helper-collapse-button {
  border-radius: .25em;
  border: none;
  background: rgb(240, 240, 240);
  position: absolute;
  right: 0px;
  z-index: 1;
  border: solid .1em gray;
  padding: 0;
  font-size: .8em;
}

.popup-canvas {
  touch-action: none;
  width: 100%;
  height: 100%;
}

.popup-canvas-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  margin-bottom: 5px;
}

.main-canvas-wrapper {
  touch-action: none;
  position: absolute;
  z-index: 0;
  left: 0px;
  margin: 0;
}

.form-group {
  width: 12em;
  display: inline-block;
  font-size: inherit;
  margin-right: .1em;
}

.form-group.number {
  width: 5em;
}

.form-group label {}

.form-group label span {
  font-size: .9em;
  padding: 0em;
  padding-left: .5em;
  font-weight: bold;
}

.form-group input {
  text-align: center;
  width: 100%;
  border-radius: .5em;
  font-size: 1em;
  float: left;
  padding: .25em .5em;
}

.checkboxgroup input {
  width: 1.5em;
  height: 1.5em;
}

.url-form-group a {
  margin-bottom: 0;
  float: left;
  text-decoration: underline;
  color: rgb(0, 0, 255);
  padding: .1em;
  font-size: 1em;
  top: -.1em;
  position: relative;
}

.url-form-group {
  line-height: 1em;
}

.url-form-group button {
  float: right;
  font-size: .8em;
  margin: 0px;
  margin-right: .1em;
  border: none;
  border-radius: .25em;
  background: rgb(240, 240, 240);
  position: relative;
  top: -.15em;
}

.url-form-group input {}

.checkboxgroup label {
  font-size: 1em;
}

.checkboxgroup label span {
  padding: .25em .1em;
  border-radius: .25em;
  font-size: 1em;
  position: relative;
  top: .25em;
}

.modal-dialog {
  margin: 0vh auto;
  width: 100vw;
  background: rgba(127, 127, 127, .6);
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  overflow: hidden;
}

.popup-buttons {
  overflow: hidden;
  padding: .1em .25em;
  pointer-events: none;
  padding-top: .25em;
  height: inherit;
  position: absolute;
  z-index: 1;
}

.popup-buttons * {
  pointer-events: auto;
}

.popup-title {
  color: white;
  display: inline-block;
  margin-left: .5em;
  font-size: 1.6em;
}

.fields-container {
  overflow: auto;
}

.popup-action-bar {
  text-align: center;
  width: 100%;
  height: 2.5em;
}

.popup-main-body {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.popup-buttons .save-details {
  padding-bottom: 0px;
}

.vertical-split-display {
  height: 100%;
  float: left;
}

.popup-progress-bar {
  width: 8em;
  display: inline-block;
  margin-left: 10%;
  position: absolute;
  background: blue;
  color: white;
  font-weight: bold;
}

.form-group-container-group {
  display: inline-block;
  border-radius: .5em;
  text-align: center;
  background: rgb(200, 200, 200);
  float: left;
  position: relative;
  margin: .25em;
  border: outset .15em silver;
  padding: .25em;
  padding-right: .5em;
  padding-top: 0;
}

.form-group-container-group .checkboxgroup {
  width: auto;
  margin-top: -1em;
  padding: .5em;
  top: .5em;
  position: relative;
}

.form-group-container-group label {
  border-radius: .25em;
  padding: 0;
  margin: 0;
  position: relative;
}

.user-profile-fields-container {
  float: left;
}

.user-image-display {
  max-height: 3em;
  max-width: 3em;
  margin: .25em;
  border-radius: .25em;
  border: outset .15em silver;
  float: left;
}

i.material-icons {
  font-size: inherit;
}

button i.material-icons {
  position: relative;
  top: .1em;
  font-size: 1.1em;
}

.band-menu-button .dropdown-menu {
  font-size: inherit;
}

.band-background-preview {
  white-space: nowrap;
  display: inline-block;
  border: outset .15em silver;
  border-radius: .5em;
  text-align: center;
  overflow: hidden;
  pointer-events: auto;
  height: 6em;
  width: 10em;
  margin: 0 .05em;
  margin-bottom: -.3em;
  position: relative;
  background: none;
}

.band-background-preview .img-holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.band-background-preview * {
  position: relative;
}

.band-background-preview .show-edit-panel-button {
  position: absolute;
  bottom: .15em;
  left: .15em;
  background: rgba(255,255,255,.5);
}

.band-background-preview .delete-edit-panel-button {
  position: absolute;
  bottom: .15em;
  right: .15em;
  background: rgba(255,255,255,.5);
}

.band-background-preview .band-title {
  padding: .15em;
  background: rgba(255, 255, 255, .5);
  color: black;
  border-radius: .25em;
  margin: .15em;
  float: left;
  font-size: 1em;
}

.band-background-preview .toggle-btn {
  clear: both;
  background: rgba(255, 255, 255, .5);
  font-weight: bold;
  position: absolute;
  bottom: .15em;
  left: .15em;
}

.dropdown-menu {
  min-width: 7em;
  font-size: inherit;
}

.url-type-input-group {
  width: 45vw;
}

.selected-mesh-bounds-helper-box {
  color: black;
  padding-left: .2em;
  white-space: pre;
  text-align: center;
  border-radius: .25em;
  font-size: inherit;
  padding-top: .35em;
}

.selected-mesh-bounds-helper-box input[type="text"] {
  border-radius: .25em;
  border: default;
}

.block-dialog-popup .selected-mesh-bounds-helper-box {
  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
}

.scene-options-panel .selected-mesh-bounds-helper-box {
  background: none;
  height: 6em;
}

.selected-mesh-bounds-helper-box .form-control {
  width: auto;
  display: inline-block;
}

.selected-mesh-bounds-helper-box .action-area {}

.selected-mesh-bounds-helper-box .action-area input {
  width: 5em;
  text-align: right;
  font-size: 1em;
}

.selected-mesh-bounds-helper-box .action-area select {
  padding: 0px;
  font-size: 1em;
}

.selected-mesh-bounds-helper-box .action-area button {
  background: white;
  font-size: 1.25em;
  margin: .25em;
}

.selected-mesh-bounds-helper-box .action-area input[type="range"] {
  width: 15em;
  display: inline-block;
  position: relative;
  top: .3em;
  font-size: inherit;
}

.selected-mesh-bounds-helper-box .action-area input[type="range"].singleslider {
  transform: rotate(-90deg);
  width: 6.5em;
  top: 2em;
  left: -.75em;
}

.selected-mesh-bounds-helper-box .info-area {
  font-size: .8em;
  font-family: monospace;
}

.selected-mesh-bounds-helper-box .preview {
  font-size: 1em;
  clear: both;
}

.selected-mesh-bounds-helper-box .action-area .preview, .selected-mesh-bounds-helper-box .action-area button {
  color: rgb(127, 64, 0);
}

.selected-mesh-bounds-helper-box .action-area.offset .preview, .selected-mesh-bounds-helper-box .action-area.offset button {
  color: rgb(20, 100, 0);
}

.selected-mesh-bounds-helper-box .action-area.rotate .preview, .selected-mesh-bounds-helper-box .action-area.rotate button {
  color: rgb(0, 64, 127);
}

.form-group.shortVector input[type="range"] {
  width: 100%;
}

.form-group.longvector input[type="range"] {
  width: 100%;
}

.edit-modal-times-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  background: rgba(255, 255, 255, .2);
  color: rgb(50, 50, 50);
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: rgb(50, 50, 50);
  height: 1.75em;
  border: outset .25em silver;
  border-radius: .5em;
}

input[type=range]::-webkit-slider-thumb {
  height: 1.3em;
  width: 1em;
  background: rgb(255, 255, 255);
  -webkit-appearance: none;
  border-radius: .25em;
  border: outset .1em silver;
}

.menu-clipper-wrapper {
  display: inline-block;
}

.cblock-editor-wrapper {
  overflow: hidden;
  display: flex ! important;
  flex-direction: column;
}

.main-band-first-row {
  display: flex;
}

.main-band-flex-children {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
}

.cblock-details-panel, .cblock-child-details-panel {
  white-space: nowrap;
  overflow: auto;
}

.cblock-details-panel .form-group-container-group {
  float: none;
}

.cblock-child-details-panel .form-group-container-group {
  float: none;
}

.frames-panel {
  overflow: auto;
}

.frame-fields-container {
  clear: both;
  position: relative;
  margin: 0em;
}

.render-log-panel {
  background: rgba(255, 255, 255, .5);
  white-space: pre;
  width: 15em;
  height: 6em;
  border-radius: 0em;
  border: inset .1em silver;
  font-size: .9em;
  padding: .25em;
  overflow: auto;
}
.scene-options-panel .log-clear {
  position: absolute;
  right: 21px;
  font-size: .8em;
}

.canvas-actions .render-log-wrapper {
  display:inline-block;
  pointer-events: none;
  position: relative;
}
.render-log-wrapper * {
  pointer-events: auto;
}

.frames-panel .frame-fields-container label span {
  display: none;
}

.frames-panel>div:nth-child(1) label span {
  display: inline-block;
}

.frames-panel input {
  padding: 0em;
}

.frames-panel .add-button {
  margin: .5em;
}

.frames-panel .form-group-container-group .form-group {
  padding: 0px;
  margin: 0px;
}

.frames-panel button.delete-button {
  font-size: 1.2em;
  top: -.4em;
  position: relative;
}

.add-item-panel>label {
  position: relative;
  top: -.25em;
}

.frames-panel .form-group-container-group {
  float: none;
  margin: 0 .15em;
  background: yellow;
  margin-top: -.25em;
  padding-top: .25em;
}

.cblock-details-panel .form-group-container-group, .cblock-child-details-panel .form-group-container-group {
  background: yellow;
}

.frames-panel {
  white-space: nowrap;
  position: relative;
}

.frames-panel button.expand-all-helpers {
  margin: 0 .5em;
}

.frames-header-bar {
  background: rgba(255, 255, 255, .6);
}

.frame-info-panel {
  border-radius: .2em;
  overflow: auto;
  margin: 0px;
  text-align: left;
  font-size: 1em;
}

.frame-info-panel * {}

.genFrame {
  color: rgb(200, 200, 255);
}

.frame-fields-container .frame-time {
  width: 10em;
}

.canvas-actions {
  position: absolute;
  bottom: .1em;
  left: .1em;
  width: 100%;
  pointer-events: none;
}

.canvas-actions .expanded-toolbar-content {
  display: block;
  pointer-events: none;
}

.user-profile-expanded-wrapper {
  pointer-events: none!important;
  float: right;
}

.user-profile-expanded-wrapper * {
  pointer-events: auto;
}

.canvas-actions {
  padding-bottom: .25em;
  padding-left: .25em;
}

.canvas-actions * {
  pointer-events: auto;
}

.canvas-actions .play-button {
  color: rgb(0, 127, 0);
}

.canvas-actions .pause-button {}

.canvas-actions .stop-button {}

.canvas-actions .video-button {
  color: red;
}

.canvas-actions input[type="range"] {
  width: 20vw;
  display: inline-block;
  position: relative;
  top: .2em;
  left: .2em;
  margin-right: .5em;
}

.camera-select-range-slider {}

.camera-select-height-slider {}

.canvas-actions .camera-select {
  color: blue;
  top: -.3em;
  position: relative;
}

#workspaces-select {
  margin-left: .2em;
  pointer-events: auto;
  position: relative;
  top: -.1em;
}

#user-profile-panel {
  position: absolute;
  right: .5em;
  bottom: 2.75em;
  background: rgba(255, 255, 255, .5);
  color: black;
  padding: .5em;
  border-radius: .5em;
  border: inset .15em silver;
  text-align: center;
}

#main-page .form-group-container-group {
  background: rgba(255, 255, 255, .5);
  padding: .25em;
  overflow: hidden;
}

#user-profile-settings-button {
  color: rgb(127, 127, 0);
}

#workspace-settings-button {
  position: absolute;
  bottom: .25em;
  right: .25em;
  z-index: 100;
}

.context-scene-tools-panel {
  pointer-events: none;
}

.context-scene-tools-panel .fields-container {
  pointer-events: none;
}

.doubled-up-first {
  position: absolute!important;
  top: .30em!important;
}

.doubled-up-second {
  top: .0em!important;
}

#toggle-all-toolbands-down {
  margin-right: -.25em;
  margin-left: .1em;
  position: relative;
  margin-top: .15em;
  background: rgb(50, 50, 50);
  color: white;
  border-style: inset;
}

#toggle-all-toolbands {
  position: relative;
  margin-top: .15em;
  background: rgb(240, 240, 240);
}

.font-family-panel {
  pointer-events: none!important;
  padding-bottom: 1em;
}

.font-family-panel * {
  pointer-events: auto;
}

.font-family-panel .fields-container {
  pointer-events: none!important;
  display: inline-block ! important;
  position: relative;
  clear: both;
  float: right;
  top: .5em;
  overflow: visible;
}

.font-family-panel .fields-container * {
  pointer-events: auto;
}

#new-workspace-name {
  border-radius: .25em;
  border: solid .1em silver;
  padding: .15em;
  position: relative;
  top: -.15em;
}

.select-block-animation-button {
  position: absolute;
  bottom: .1em;
  right: 2em;
  background: rgba(240, 240, 240, .5);
  color: black;
}

.context-scene-freefloat-panel {
  right: .35em;
  position: absolute;
  bottom: .25em;
  pointer-events: none;
}

.context-scene-freefloat-panel * {
  pointer-events: auto;
}

.context-scene-freefloat-panel .form-group-container-group {
  background: transparent;
}

.context-scene-freefloat-panel .form-group-container-group label span {
  background: rgb(240, 240, 240);
}

.context-scene-freefloat-panel .fields-container {
  padding-right: .5em;
}

.scene-options-panel {
  pointer-events: none;
}

.scene-options-panel .fields-container {
  overflow: hidden;
  pointer-events: none;
  display: inline-block;
  margin-bottom: -.5em;
}

.scene-options-panel .fields-container * {
  pointer-events: auto;
}

.scene-options-panel .shortVector, .font-family-panel .shortVector {
  padding-bottom: .25em;
}

.font-family-panel .selected-mesh-bounds-helper-box {}

.create-dialog-inner-wrapper {
  margin-top: 4em;
  border-radius: .25em;
  border: solid .1em rgb(50, 50, 50);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  display: inline-block;
  padding: 5em;
  background: rgb(240, 240, 240);
}

.toggle-bands-down, .toggle-bands-up {
  float: left;
}

.export-frames-details-panel {
  padding: .5em;
  border: solid .1em silver;
  background: rgb(50, 50, 50);
}

.camera-options-panel {
  padding-top: .5em;
}

.color-picker-input {
  position: absolute;
  top: -.1em;
  right: -.6em;
  width: 2.5em!important;
  padding: 0em!important;
  border-radius: .25em!important;
  height: 1.25em;
}

.color-data-item {
  width: 7em;
}

.color-data-item>span {
  padding-right: 2.5em!important;
}

.add-item-panel {
  padding: .5em;
  border-radius: .5em;
  background: rgba(255, 255, 255, .5);
  float: left;
  border: outset .15em silver;
  color: black;
  position: relative;
  margin-bottom: .5em;
  margin-left: .5em;
  text-align: center;
}

.add-item-panel input {
  margin: .25em;
  border-radius: .5em;
  padding: .25em;
}

.add-item-panel input[type="file"] {
  background: silver;
}

.material-add-options .material-color-add {
  border-radius: .25em;
  width: 8em;
  text-align: center;
  margin-right: 0;
}

.material-add-options .material-color-add-colorinput {
  border-radius: .25em;
  width: 2.5em;
  margin-left: 0;
  padding: 0;
}

.shape-add-options, .mesh-add-options {
  background: rgb(240, 240, 240);
}

.add-item-panel label>span {
  margin: .5em;
}

.add-item-panel input[type="text"] {
  text-align: center;
  width: 5em;
}

.add-item-panel select {
  margin-top: .5em;
}

.shape-add-options .text-shape-add {
  width: 20em;
}

.shape-add-options .font-family-shape-add {
  width: 20em;
}

.texture-add-options {
  background: rgb(240, 240, 240);
  padding: .35em;
}

.main-band-wrapper {
  padding-top: .1em;
}

.skybox-preview-images img {
  max-height: 5em;
  max-width: 5em;
}

.block-add-options {
  text-align: left;
}

.block-editor-child, .main-band-details-element {
  background: rgb(50, 50, 50);
  color: white;
  border-radius: .5em;
  border: outset .15em silver;
  margin: .1em;
  display: inline-block;
  cursor: pointer;
  padding-left: .5em;
  min-height: 2.75em;
}

.block-editor-child {
  background: blue;
  position: relative;
  text-align: center;
}

.block-editor-child.selected, .main-band-details-element.selected {
  color: black;
  background: yellow;
  border-style: inset;
  text-align: left;
}

.block-editor-child .delete-button {
  display: none;
  background: silver;
  font-size: 1.1em;
  color: black;
  float: right;
  top: .25em;
  right: .1em;
  position: absolute;
}

.block-editor-child.selected .delete-button {
  display: inline-block;
}

.block-editor-child>span {
  position: relative;
  top: .7em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.block-editor-child.selected>span {
  padding-right: 3em;
  padding-left: 0em;
}

.light-intensity-main-page {}

.scene-tools-checkboxes {
  top: 1.25em;
}
