html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 90vw;
  max-height: 90vh;
}

.wrapper {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

h1, h2 {
  font-size: 2em;
}

.demo_item {
  margin: 1em;
  border-radius: 2em;
  padding-top: 1em;
}

.demo_item img {}

.demo_item a {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-top: 2.25em;
  padding-left: .35em;
  border-radius: .5em;
}

.demo_item a i {
  font-size: 3em;
}

.demo_item a:hover {
  background: silver;
}

.item_title {
  font-size: 1.5em;
  position: relative;
  top: -.75em;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-size: .75em;
  font-weight: bold;
  padding-right: 2em;
  display: inline-block;
  width: 4em;
  text-align: right;
}

.response {
  text-align: left;
  display: inline-block;
  width: 6em;
}

.summary {
  padding: .5em;
}

.desc_panel {
  flex: 1;
  color: black;
  white-space: nowrap;
  padding: .25em;
}

.ui_image {
  max-width: 40vw;
  max-height: 50vh;
  border-radius: 1em;
  border: solid 2px blue;
}

.option_bar {
  text-align: left;
  padding-top: .5em;
}

.option_bar a, .footer_bar a {
  white-space: nowrap;
  border: solid 1px silver;
  margin: .15em;
  color: black;
  text-decoration: none;
  float:left;
  padding: .65em .25em;
  font-size: .95em;
  margin-bottom: .85em;
}

.footer_bar a {
  float: none;
}

.option_bar a:hover, .footer_bar a:hover {
  background: silver
}

.option_bar a.logo {
  border: none;
  padding: 0;
}

.small_logo {
  height: 30px;
  padding: 3px 5px 0px 5px;
}

.home_page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  max-width: 60em;
}

.footer_bar {
  padding-top: 1.5em;
  line-height: 1.25em;
  padding-bottom: .5em;
  text-align: center;
  width: 100%
}

.search_box_wrapper {
  float:left;
  width:20em;
  margin-top: -0.5em;
}

.gsc-search-button.gsc-search-button-v2 {
  background: silver;
  border: gray;
}

.gsc-search-button.gsc-search-button-v2:hover {
  background: black;
}

.help_display_item {
    border: solid 1px silver;
    margin: .1em .25em;
    border-radius: .5em;
    padding: 0em .5em;
    float: left;
    text-align: left;
}


.help_body {
  padding: 0 1em;
  flex:1;
  line-height: 2em;
}

.list_help_view .help_body {
  text-align: center;
}

.item_help_view {

}



.list_help_view .help_body i {
  position: relative;
  top: .25em;
  color: black;
}

.list_help_view .help_body a {
  color: black;
}

#help_template_select {
  font-size: 1.25em;
  max-width: 90%;
}
