html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 90vw;
  max-height: 90vh;
}

.wrapper {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.demo_item {
  margin: 1em;
  border-radius: 2em;
  padding-top: 1em;
}

.demo_item img {}

.demo_item a {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-top: 2.25em;
  padding-left: .35em;
  border-radius: .5em;
}

.demo_item a i {
  font-size: 3em;
}

.demo_item a:hover {
  background: silver;
}

.item_title {
  font-size: 1.5em;
  position: relative;
  top: -.75em;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-size: .75em;
  font-weight: bold;
  padding-right: 2em;
  display: inline-block;
  width: 4em;
  text-align: right;
}

.response {
  text-align: left;
  display: inline-block;
  width: 6em;
}

.summary {
  padding: .5em;
}

.desc_panel {
  flex: 1;
  color: black;
  white-space: nowrap;
  padding: .25em;
}

.option_bar {
  text-align: center;
  padding-top: .5em;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.option_bar a, .footer_bar a {
  white-space: nowrap;
  border: solid 1px rgb(255, 140, 0);
  color: rgb(0, 100, 255);
  text-decoration: none;
  padding: .75em .5em 0 .5em;
}

.footer_bar a {
  padding: .75em;
}

.option_bar a:hover, .footer_bar a:hover, .option_bar a.logo:hover, a:hover,
.option_bar a:focus, .footer_bar a:focus, .option_bar a.logo:focus, a:focus {
  border-color: rgb(255, 140, 0);
  background: silver;
}

.footer_bar a {
  float: none;
}

.option_bar a:hover, .footer_bar a:hover {
  background: silver
}

.option_bar a.logo {
  border: none;
  padding: 0;
}

.option_bar a:nth-child(3) {
  border-left: none;
}

.small_logo {
  height: 32px;
  padding: 6px 5px 0px 5px;
}

.home_page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  max-width: 60em;
  position: relative;
}

.footer_bar {
  padding-top: 1.5em;
  line-height: 1.25em;
  padding-bottom: .5em;
  text-align: center;
  width: 100%
}

.search_box_wrapper {
  display: inline-block;
  width: 20em;
  border: solid 1px rgb(255, 140, 0);
  margin-right: .25em;
  border-left: none;
}

.search_box_wrapper form.gsc-search-box {
  margin-bottom: -3px;
}

.search_box_wrapper table.gsc-search-box td.gsc-input {
  padding-right: 0;
  padding-bottom: 2px;
}

table.gsc-search-box td {
  margin-left: 0;
}

.gsc-search-button {
  margin-left: 0;
  border: none;
}

.gsc-search-button.gsc-search-button-v2 {
  border: none;
  background: transparent;
  margin: -2px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0;
  border-left: solid 1px rgb(255, 140, 0);
  margin-right: -1px;
}

.gsc-search-button.gsc-search-button-v2 svg {
  fill: rgb(0, 100, 255);
}

.gsc-search-button.gsc-search-button-v2:focus, .gsc-search-button.gsc-search-button-v2:hover {
  background: silver;
  border: none;
  border-left: solid 1px rgb(255, 140, 0);
}

.gsc-search-button.gsc-search-button-v2:focus svg, .gsc-search-button.gsc-search-button-v2:hover svg {
  fill: rgb(0, 100, 255);
}

.search_box_wrapper .gsc-control-cse {
  padding: 0;
  border-radius: none;
}

.search_box_wrapper input::placeholder {
  color: rgba(255, 140, 0, .75);
}

.help_display_item {
  text-align: left;
  line-height: 1em;
  display: inline-block;
  margin: 0 2px;
  padding-bottom: .5em;
}

.help_display_item a {
  padding: .25em;
}

.list_help_view .help_body .sub_bar a:hover,
.list_help_view .help_body .sub_bar a:focus {
  background: rgba(255, 140, 0, .25);
}

.help_display_item>a {
  border: solid 1px rgb(255, 140, 0);
  text-decoration: none;
  padding: .25em .75em 1.25em .75em;
  display: block;
  text-align: center;
  font-weight: bold;
}

.list_help_view .help_body .sub_bar a {
  padding: 8px;
}

.list_help_view .help_body .sub_bar a i {
  color: rgb(255, 140, 0);
}

.list_help_view .help_body .sub_bar a:hover i,
.list_help_view .help_body .sub_bar a:focus i {
  color: black;
}

.help_display_item>div {
  padding-bottom: .25em;
}

.help_display_item .sub_bar {
  margin-top: -.75em;
  text-align: center;
}

.help_display_item a:hover, .help_display_item a:focus {
  background: silver;
}

.help_display_item h1 {
  margin: 0;
  display: block;
  font-size: 1.25em;
}

.help_body {
  padding: 0 1em;
  flex: 1;
  line-height: 2em;
}

.list_help_view .help_body {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.item_help_view {}

.list_help_view .help_body i {
  position: relative;
  top: .25em;
  color: rgb(255, 140, 0);
}

.list_help_view .help_body a {
  color: rgb(0, 100, 255);
}

.list_help_view .help_body a:hover, .list_help_view .help_body a:focus {
  color: black;
  border-color: black;
  background: transparent;
}

#help_template_select {
  position: relative;
  top: -.525em;
  font-size: 1.25em;
  border-color: rgb(255, 140, 0);
  outline-color: rgb(255, 140, 0);
}

#help_template_select:hover, #help_template_select:focus {
  border-color: rgb(255, 140, 0);
  background: silver;
}

.list_html_div a i {
  color: rgb(255, 140, 0);
}

.help_body .reviewed {
  font-size: .75em;
  color: gray;
  text-align: center;
  margin-top: -1.5em;
  position: relative;
  z-index: -1;
  margin-bottom: .75em;
}

.list_help_view h2 {
  margin: 0;
  color: rgb(255, 220, 160);
  font-size: 7em;
  display: inline-block;
  font-family: 'Comic Sans MS';
  position: absolute;
  top: .25em;
}

.list_help_view .header_wrapper {
  position: absolute;
  z-index: -1;
  text-align: left;
  height: 6em;
  width: 100%;
  overflow: visible;
}

.list_html_div .review_text {
  padding-left: .5em;
  color: black;
  margin-bottom: 1em;
}

a.gsst_a {
  padding: 0;
  margin: 0;
  line-height: .5em;
  border: none;
}

.help_gen_list_wrapper {
  padding: 0 1em;
}

.help_gen_list_wrapper .list_html_div a {
  padding-top: .1em;
  font-size: 2em;
}

.help_gen_list_wrapper .list_html_div a i {
  font-size: 1em;
}

.gsst_a .gscb_a {
  line-height: 26px;
}

#gs_tti50 {
  padding: 5px 4px 4px 4px;
  border: none;
}

#gs_st50 {
  padding-right: 5px;
}

#gsc-iw-id1.gsc-input-box {
  padding-top: 6px;
  padding-bottom: 5px;
  border: none;
}

.search_box_wrapper table.gsc-search-box {
  border-collapse: collapse;
  border-spacing: 0;
}

.h2_ctr_1 {
  animation-name: cloudMsg;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.h2_ctr_2 {
  animation-name: cloudMsg;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-delay: -8s;
}

.h2_ctr_3 {
  animation-name: cloudMsg;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-delay: -5s;
}

.h2_ctr_4 {
  animation-name: cloudMsg;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}

@keyframes cloudMsg {
  0% {
    left: 0%;
  }

  10% {
    left: 0%;
  }

  25% {
    left: -800px;
  }

  40% {
    left: -800px;
  }

  60% {
    left: 0%;
  }

  100% {
    left: 0%;
  }
}
