#firebase-app-login-page {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  border: outset 5px silver;
  border-radius: 10px;
  line-height: 1px;
  margin-top: -5px;
  background: rgb(150, 150, 150);
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  margin-top: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

#sb-floating-toolbar .sb-floating-toolbar-item {
  pointer-events: none;
  display: inline-block;
}

.sb-floating-toolbar-content div {
  pointer-events: auto;
}

.sb-floating-toolbar-content {
  pointer-events: auto;
  white-space: nowrap;
  display: none;
  overflow: auto;
  color: black;
  overflow-y: hidden;
  margin-bottom: .25em;
}

.sb-floating-toolbar-content .fields-container {
  padding-right: 1.5em;
}

.sb-floating-toolbar-item .button-wrapper {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.main-band-add-child {
  background: white;
  color: rgb(0, 127, 0);
  margin: .25em;
}

.sb-floating-toolbar-item .button-wrapper .button-title {
  padding: .5em 0;
  border-radius: .5em;
  cursor: pointer;
  color: black;
  background: rgb(240, 240, 240);
  width: 6em;
  transform: rotate(-90deg);
  position: relative;
  top: 1.75em;
  margin: 0;
  left: -1.8em;
}

.sb-floating-toolbar-item .button-wrapper-invert .button-title {
  background: rgb(50, 50, 50);
  color: white;
}

.sb-floating-toolbar-item .button-wrapper .button-add-item
{
  position: absolute;
  left: 2em;
  top: 1.5em;
  display: none;
}

.sb-floating-toolbar-item .button-wrapper-invert .button-add-item {
  display: block;
}

.button-wrapper {
  pointer-events: none!important;
}

.button-wrapper * {
  pointer-events: auto;
}

#sb-floating-toolbar-expanded {
  margin-bottom: -1em;
  pointer-events: none;
}

#sb-floating-toolbar-expanded .button-wrapper {
  height: 6.2em;
  width: 6.5em;
}

.popup-canvas-body {
  flex: 1;
  width: 100%;
}

.selected-mesh-helper-collapse-button {
  border-radius: .25em;
  border: none;
  background: rgb(240, 240, 240);
  position: absolute;
  right: 0px;
  z-index: 1;
  border: solid .1em gray;
  padding: 0;
  font-size: .8em;
}

.main-canvas-wrapper {
  touch-action: none;
  position: absolute;
  z-index: 0;
  left: 0px;
  margin: 0;
}

.modal-dialog {
  margin: 0vh auto;
  width: 100vw;
  background: rgba(127, 127, 127, .6);
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  overflow: hidden;
}

.popup-buttons {
  overflow: hidden;
  padding: .1em .25em;
  pointer-events: none;
  padding-top: .25em;
  height: inherit;
  position: absolute;
  z-index: 1;
}

.popup-buttons * {
  pointer-events: auto;
}

.popup-title {
  color: white;
  display: inline-block;
  margin-left: .5em;
  font-size: 1.6em;
  pointer-events: none;
}

.popup-action-bar {
  text-align: center;
  width: 100%;
  height: 2.5em;
}

.popup-main-body {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.popup-buttons .save-details {
  padding-bottom: 0px;
}

.vertical-split-display {
  height: 100%;
  float: left;
}

.popup-progress-bar {
  width: 8em;
  display: inline-block;
  margin-left: 10%;
  position: absolute;
  background: blue;
  color: white;
  font-weight: bold;
}

.band-background-preview {
  white-space: nowrap;
  display: inline-block;
  border: outset .15em silver;
  border-radius: .5em;
  text-align: center;
  overflow: hidden;
  pointer-events: auto;
  height: 6em;
  width: 10em;
  margin: 0 .05em;
  margin-bottom: -.3em;
  position: relative;
  background: none;
}

.band-background-preview .img-holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.band-background-preview * {
  position: relative;
}

.band-background-preview .show-edit-panel-button {
  position: absolute;
  bottom: .15em;
  left: .15em;
  background: rgba(255, 255, 255, .5);
}

.band-background-preview .delete-edit-panel-button {
  position: absolute;
  bottom: .15em;
  right: .15em;
  background: rgba(255, 255, 255, .5);
  display: none;
}

.band-background-preview .band-title {
  padding: .15em;
  background: rgba(0, 0, 0, .4);
  color: white;
  border-radius: .25em;
  margin: .15em;
  float: left;
  font-size: 1em;
}

.band-background-preview .toggle-btn {
  clear: both;
  background: rgba(255, 255, 255, .5);
  font-weight: bold;
  position: absolute;
  bottom: .15em;
  left: .15em;
}

.selected-mesh-bounds-helper-box {
  color: black;
  padding-left: .2em;
  white-space: pre;
  text-align: center;
  border-radius: .25em;
  font-size: inherit;
  padding-top: .35em;
}

.selected-mesh-bounds-helper-box input[type="text"] {
  border-radius: .25em;
  border: default;
}

.block-dialog-popup .selected-mesh-bounds-helper-box {
  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
}

.selected-mesh-bounds-helper-box .form-control {
  width: auto;
  display: inline-block;
}

.menu-clipper-wrapper {
  display: inline-block;
}

.cblock-editor-wrapper {
  overflow: hidden;
  display: flex ! important;
  flex-direction: column;
  padding-bottom: 3px;
}

.main-band-first-row {
  display: flex;
}

.main-band-flex-children {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
}

.cblock-details-panel, .cblock-child-details-panel {
  white-space: nowrap;
  overflow: auto;
  padding-left: 3.5em;
}

.cblock-details-panel .form-group-container-group {
  float: none;
}

.cblock-child-details-panel .form-group-container-group {
  float: none;
}

.frames-panel {
  overflow: auto;
}

.frame-fields-container {
  clear: both;
  position: relative;
  margin: 0em;
}

.frames-panel .frame-fields-container label span {
  display: none;
}

.frames-panel>div:nth-child(2) label span {
  display: inline-block;
}

.frames-panel input {
  padding: 0em;
}

.frames-panel .add-button {
  margin: .5em;
}

.frames-panel .form-group-container-group .form-group {
  padding: 0px;
  margin: 0px;
}

.frames-panel button.delete-button {
  font-size: 1.2em;
  top: -.4em;
  position: relative;
}

.add-item-panel>label {
  position: relative;
  top: -.25em;
}

.frames-panel .form-group-container-group {
  float: none;
  margin: 0 .15em;
  background: rgba(255, 255, 255, .5);
  margin-top: -.25em;
  padding-top: .25em;
}

.frames-panel .frames-header-fields-panel {
  border: inset .15em silver;
  margin-bottom: .5em;
}

.frames-panel .frames-header-fields-panel .form-group-container-group {
  float: left;
  display: inline-block;
  background: rgba(255, 255, 255, .5);
  margin: .25em;
  padding: .25em;
  padding-right: .5em;
  padding-top: 0;
}

.frames-panel .frames-header-fields-panel .form-group-container-group input {
  padding: .25em .5em;
}

.cblock-details-panel .form-group-container-group, .cblock-child-details-panel .form-group-container-group {
  background: rgba(255, 255, 255, .5);
}

.frames-panel {
  white-space: nowrap;
  position: relative;
}

.frames-panel button.expand-all-helpers {
  margin: 0 .5em;
}

.frames-header-bar {
  background: rgba(255, 255, 255, .5);
}

.frame-info-panel {
  border-radius: .2em;
  overflow: auto;
  margin: 0px;
  text-align: left;
  font-size: 1em;
}

.frame-info-panel * {}

.genFrame {
  color: rgb(200, 200, 255);
}

.frame-fields-container .frame-time {
  width: 10em;
}

.canvas-actions .sb-floating-toolbar-item {
  display: inline-block;
  clear: both;
  position: relative;
  pointer-events: none;
}

.camera-select-range-slider {}

.camera-select-height-slider {}

#workspaces-select {
  margin-left: .2em;
  pointer-events: auto;
  position: relative;
  top: -.1em;
}

#user-profile-panel {
  position: absolute;
  right: 0;
  top: 3em;
  background: rgba(255, 255, 255, .75);
  color: black;
  padding: .5em;
  padding-right: 0;
  border-radius: .5em;
  border: inset .15em silver;
  text-align: center;
  z-index: 10000;
}

#gig-options-panel {
  position: absolute;
  right: 0;
  top: 3em;
  background: rgba(255, 255, 255, .75);
  color: black;
  padding: .25em;
  border-radius: .5em;
  border: inset .15em silver;
  text-align: center;
  z-index: 10000;
  width: 100%;
  height: 75%;
}

#user-profile-settings-button {
  color: rgb(127, 127, 0);
}

#sb-floating-toolbar-create-btn {
  position: absolute;
  bottom: .25em;
  right: .25em;
  z-index: 100;
}

#sb-floating-toolbar-import-btn {
  position: absolute;
  bottom: .25em;
  right: 2.25em;
  z-index: 100;
}

#workspace-settings-button {
  position: absolute;
  top: .25em;
  right: .25em;
  z-index: 100;
}

.font-family-panel {
  pointer-events: none!important;
  padding-bottom: 1em;
}

.font-family-panel * {
  pointer-events: auto;
}

.font-family-panel .fields-container {
  pointer-events: none!important;
  display: inline-block ! important;
  position: relative;
  clear: both;
  float: right;
  top: .5em;
  overflow: visible;
}

.font-family-panel .fields-container * {
  pointer-events: auto;
}

#new-workspace-name, #new-workspace-code, #edit-workspace-name, #edit-workspace-code {
  border-radius: .25em;
  border: solid .1em silver;
  padding: .15em;
  position: relative;
  top: -.15em;
}

.select-block-animation-button {
  position: absolute;
  bottom: .1em;
  right: 2.275em;
  background: rgba(240, 240, 240, .5);
  color: black;
}

.font-family-panel .selected-mesh-bounds-helper-box {}

.create-dialog-inner-wrapper {
  margin-top: 4em;
  border-radius: .25em;
  border: solid .1em rgb(50, 50, 50);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  display: inline-block;
  padding: 5em;
  background: rgb(240, 240, 240);
}

.export-frames-details-panel {
  padding: .5em;
  border: solid .1em silver;
  background: rgb(50, 50, 50);
}

.add-item-panel {
  position: absolute;
  right: 0;
  bottom: 3em;
  background: rgba(255, 255, 255, .75);
  color: black;
  padding: .5em;
  border-radius: .5em;
  border: inset .15em silver;
  text-align: center;
}

.add-item-panel input {
  margin: .25em;
  border-radius: .5em;
  padding: .25em;
}

.add-item-panel input[type="file"] {
  background: silver;
}

.material-add-options .material-color-add {
  border-radius: .25em;
  width: 8em;
  text-align: center;
  margin-right: 0;
}

.material-add-options .material-color-add-colorinput {
  border-radius: .25em;
  width: 2.5em;
  margin-left: 0;
  padding: 0;
}

.add-item-panel label>span {
  margin: .1em;
}

.add-item-panel input[type="text"] {
  text-align: center;
  width: 4em;
}

.add-item-panel select {
  margin-top: .5em;
}

.shape-add-options .text-shape-add {
  width: 20em;
}

.shape-add-options .font-family-shape-add {
  width: 20em;
}

.main-band-wrapper {
  padding-top: .1em;
  position: relative;
}

.skybox-preview-images img {
  max-height: 5em;
  max-width: 5em;
}

.block-editor-child, .main-band-details-element {
  background: rgb(240, 240, 240);
  color: black;
  border-radius: .5em;
  border: outset .15em silver;
  margin: .1em;
  display: inline-block;
  cursor: pointer;
  padding-left: .5em;
  min-height: 2.75em;
}

.block-editor-child {
  background: rgb(240, 240, 240);
  position: relative;
  text-align: center;
}

.block-editor-child.selected, .main-band-details-element.selected {
  color: white;
  background: rgb(50, 50, 50);
  border-style: inset;
  text-align: left;
}

.block-editor-child .delete-button {
  display: none;
  font-size: 1.1em;
  color: black;
  float: right;
  top: .25em;
  right: .1em;
  position: absolute;
}

.block-editor-child.selected .delete-button {
  display: inline-block;
}

.block-editor-child>span {
  position: relative;
  top: .7em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.block-editor-child.selected>span {
  padding-right: 3em;
  padding-left: 0em;
}

.font-size-main-view {
  height: 10.7em;
  margin-right: 0;
}

.font-size-main-view .selected-mesh-bounds-helper-box .action-area input[type="range"] {
  transform: none;
  width: 18em;
  left: -12.75em;
  top: .25em;
  margin-bottom: .75em;
}

#import-export-panel-main-view {
  position: absolute;
  right: 0;
  bottom: 3em;
  background: rgba(255, 255, 255, .75);
  color: black;
  padding: .5em;
  border-radius: .5em;
  border: inset .15em silver;
  text-align: center;
}

.element-textarea-export {
  float: left;
  overflow: scroll;
  white-space: pre;
  width: 30vw;
}

.block-frames-details-button {
  margin-left: -.25em;
}

.child-block-display .frames-header-fields-panel {
  display: none;
}

.block-id-display-span {
  padding: .25em;
  border-radius: .25em;
  background: rgb(240, 240, 240);
  position: relative;
  top: 1em;
  margin-left: .25em;
  float: left;
}

.block-scene-details-button {
  top: .75em;
  left: .15em;
  position: relative;
}
.ie-frames-details {
  position: absolute;
  left: .15em;
  top: 3.5em;
}

#publish-link-url {
  position: absolute;
  top: .75em;
  right: 9.5em;
  padding: .25em;
  border-radius: .25em;
  z-index: 1000;
}

#help-button-on-user-panel {
  position: absolute;
  top: .25em;
  right: 2.25em;
  z-index: 1000
}

#workspace-gig-view-button {
  position: absolute;
  top: .25em;
  right: 4.25em;
  z-index: 1000
}


.mdl-tabs {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background: rgba(200, 255, 240, .25);
}

.mdl-tabs__tab-bar {
  justify-content: left;
  border-bottom: solid 2px rgb(200, 255, 240);
  background: rgb(200, 255, 240);
  margin-top: 2px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px white;
  border-bottom: none;
  color: white;
  padding: 0 10px;
  background-image: radial-gradient(rgb(0, 150, 136) 20%, rgb(200, 255, 240));
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  display: none;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: radial-gradient(rgb(200, 255, 240) 25%, white);
  border-top: solid 2px rgb(0, 150, 136);
  border-left: solid 1px rgb(0, 150, 136);
  border-right: solid 1px rgb(0, 150, 136);
  font-weight: bold;
  color: rgb(0, 150, 136);
}

.tabulator .tabulator-header .tabulator-frozen.tabulator {
  background: white;
}

.tabulator .tabulator-header {
  background: white;
  color: rgb(0, 150, 136);
  border-bottom: solid 2px rgb(200, 255, 240);
}

.tabulator .tabulator-header .tabulator-col {
  background: white;
}

.tabulator .tabulator-col-resize-handle {}

.tabulator-row.tabulator-row-even {}

.tabulator-tableHolder {
  background: white;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
  border-right-color: transparent;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  height: 100%;
  transform: rotate(180deg);
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  transform: rotate(180deg);
  font-size: 14px;
  text-align: left;
}

.tabulator .tabulator-header .tabulator-col.right-column-data .tabulator-col-content .tabulator-col-title {
  text-align: center;
}

.tabulator .tabulator-header .tabulator-col.tab-header-cell-large .tabulator-col-content .tabulator-col-title {
  font-size: 9px;
}

.tabulator .tabulator-header .tabulator-col-vertical .tabulator-col-title {
  transform: rotate(0);
}

.tabulator .tabulator-header .tabulator-col {
  border: none;
  background-image: linear-gradient(0deg, rgb(200, 255, 240), white)
}

.tabulator .tabulator-row .add-table-cell,
.tabulator .tabulator-row .row-handle-table-cell,
.tabulator .tabulator-row .delete-table-cell {
  cursor: pointer;
  background: white;
  border: none;
}

.tabulator .tabulator-row .delete-table-cell,
.tabulator .tabulator-row .add-table-cell {
  font-size: 22px;
  color: rgb(0, 150, 136);
  overflow: hidden;
}

.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
  background: rgb(0, 150, 136);
  height: 4px;
  position: relative;
  top: -2px;
}

.tabulator-row .tabulator-cell {
  padding-top: 7.5px;
  padding-left: 5px;
  border-right: solid 0px rgb(200, 255, 240);
  background-image: radial-gradient(white 30%,
    rgb(200, 255, 240));
  max-width: 20em;
  white-space: pre;
}

.tabulator .tabulator-footer {
  background: white;
  padding: 8px;
  border-top: none;
  text-align: center;
  background-image: linear-gradient(180deg, rgb(200, 255, 240), white);
}

.tabulator-row .tabulator-cell.tabulator-frozen {
  background: white;
  text-align: left;
}
