.canvas-actions {
  display: none;
  bottom: 3em !important;
}

#demo-profile-panel {
  top: 0em;
  position: absolute;
}

#workplaces-select {
  font-size: 12pt;
  margin: .25em;
  padding: .5em;
  background: rgb(240, 240, 240);
  border: none;
}

.user-options-panel {
  bottom: 0;
  padding: .25em;
  position: absolute;
  z-index: 1000;
  width: 35%;
  transition: width .6s;
  height: 21em;
}

.user-options-panel button {
  border: none;
  padding: .15em;
  font-size: 9pt;
  margin: .35em 0;
  width: 100%;
  border-radius: .25em;
  line-height: 1.15em;
  max-width: 35em;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  height: 3.75em;
  text-align: left;
}

.choice-button-one {
  background: rgba(255, 90, 90, .8);
  top: 4em;
}

.choice-button-two {
  background: rgba(0, 200, 0, .67);
  top: 8em;
}

.choice-button-three {
  background: rgba(0, 0, 255, .5);
  top: 12em;
  color: white;
}

.choice-button-four {
  background: rgba(255, 255, 0, .67);
  top: 16em;
}

.cart-contents {
  padding: .25em;
  text-align: right;
  max-height: 16em;
  overflow: auto;
  border: solid .25em white;
  border-radius: .75em;
  font-size: 8pt;
  transition: right .35s;
}

.cart-total {
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  top: .5em;
  right: .5em;
  text-align: right;
}

.cart-item {
  overflow: visible;
  white-space: nowrap;
  margin-bottom: .5em;
  background: rgba(255,255,255, .6);
  border-radius: 5px;
}

.cart-item .cart-item-description {
  padding: .25em;
  padding-left: 1em;
  display: inline-block;
}

.cart-item .cart-item-detail {
  padding: .25em;
  color: blue;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  margin-right: .25em;
}

.cart-item-total {
  background: rgb(255, 255, 255);
  padding: .15em .25em;
  font-size: 14pt;
  line-height: 2.25em;
  font-weight: bold;
  color: rgb(0, 255, 0);
  background: black;
  text-align: right;
  display: inline-block;
}

.cart-item .cart-item-remove {
  background: none;
  border: solid .1em red;
  color: red;
  font-weight: bold;
  float: right;
  line-height: 2.8em;
  border-radius: .75em;
}

button.cart-submit {
  font-size: 12pt;
  background: rgb(240, 240, 240);
  line-height: 2em;
}

.cart-left-side {
  float: left;
}

.canvas-actions-shown {
  bottom: initial;
  display: block;
  top: 2em;
}

.button-list-image {
  float: left;
  width: 3em;
  height: 3em;
  margin-right: .5em;
}
