.canvas-actions {
  display: none;
  bottom: 3em !important;
}

.canvas-actions-shown {
  bottom: initial;
  display: block;
  top: 2em;
}

.option-buttons-panel {
  text-align: center;
  padding: 10px;
}

.url-text-box {
}

body {
  background: silver;
}

#demo-layout-panel {
  background: rgb(245, 245, 245);

	height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  margin-top: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#record_field_list div {
  display: inline-block;
  white-space: nowrap;
}
#record_field_list {
  text-align: left;
  padding: 10px;
  line-height: 2em;
}
