.canvas-actions {
  display: none;
  bottom: 3em !important;
}

.canvas-actions-shown {
  bottom: initial;
  display: block;
  top: -10px;
}

.canvas-actions .btn-sb-icon.scene-options {
  display: none;
}

.canvas-actions .camera-select {
  display: none;
}

.option-buttons-panel {
  text-align: center;
  padding: 10px;
}

.url-text-box {
}

body {
  background: white;
}

.gutter {
  background:  repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    #ccc 2px,
    #ccc 3px
  );
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  margin-top: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background:  repeating-linear-gradient(
    90deg,
    transparent,
    transparent 2px,
    #ccc 2px,
    #ccc 4px
  );
}

.gutter.gutter-vertical {
  cursor: ns-resize;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.mdl-textfield {
  width: auto;
}

#record_field_list .mdl-textfield  {
  margin-right: 10px;
}

#record_field_list {
  text-align: left;
  padding: 10px;
  width: 100%;
  overflow: auto;
  flex: 1;
}

.product-list-panel {
  text-align: left;
  overflow: auto;
}

* {
  font-size: 15px;
  font-family: Helvetica, Arial;
}

.mdl-data-table td {
  padding: 0px 8px;
}

.header-bar {
  flex:0;
  padding:5px;
  border-bottom:solid 1px silver;
}

.header-bar > div {
  display: inline-block;
  margin: 2px 5px;
  text-align:center;
}

.button-header-group {
  border-radius: 25%;
  border: solid 1px silver;
  padding: 10px 5px;
}
